<!DOCTYPE html>
<html lang="en">
<!--Head-->
<%- include('../partials/head.ejs', {titulo: "Escritorio" ,style: "style.css" , estilo: "bienvenida.css" })%>

<!--Script de carga inicial-->
<script src="/js/index/bienvenida.js"></script>

        <!-- CONTENT -->
    <body class="hidden">
        <!-- SIDEBAR -->
        <%- include('../partials/sidebar.ejs') %>
        <!-- SIDEBAR -->

        <!-- CONTENT -->
        <section id="content">
            <!-- NAVBAR -->
            <%- include('../partials/header.ejs',{form_action: "/welcome/buscar"}) %>
            <!-- NAVBAR -->
        
            <!-- MAIN -->
            <main>
                <div class="head-title">
                    <div class="left">
                        <h1>Bienvenido <%= locals.userLogged.usuario %></h1>
                        <ul class="breadcrumb">
                            <li>
                                <a href="#">Home</a>
                            </li>
                            <li><i class='bx bx-chevron-right'></i></li>
                            <li>
                                <a class="active" href="#">Escritorio</a>
                            </li>
                        </ul>
                    </div>
                    <a href="#" class="btn-download">
                        <i class='bx bxs-cloud-download'></i>
                        <span class="text">Descargar PDF(próximo)</span>
                    </a>
                </div>

                <!--TABLA Resultado Categoria-->
                <div class="table-data">
                    <div class="order">
                        <div class="head">
                            <h3 id="categoria_nombre">Elije Categoría</h3>
                            <i class='bx bx-search'></i>
                            <i class='bx bx-filter'></i>
                        </div>
                        <table>
                            <thead>
                                <tr class="atributos">
                                </tr>
                            </thead>
                            <tbody class="valores">
                            </tbody>
                        </table>
                    </div>
                    <div class="todo">
                        <div class="head">
                            <h3>Categorías</h3>
                            <i class='bx bx-plus'></i>
                            <i class='bx bx-filter'></i>
                        </div>
                        <ul class="todo-list">
                            <% for(let index = 0; index < tablasCant.length; index++) { %>
                                <li class="completed category-button">
                                    <p><%= tablasCant[index].dataValues.Tablas %></p>
                                </li>
                            <% } %>
                        </ul>
                    </div>
                </div>
            </main>
            <!-- MAIN -->
        </section>
        <!--Script para mejorar la respuesta con "hide"-->
        <script src="/js/index/bienvenidaMejora.js"></script>
    </body>

</html>