<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs', {titulo: "Usuarios" , style: "style.css" , estilo: "usuario.css" }) %>
</head>

<body class="hidden">
    <!-- SIDEBAR -->
    <%- include('../partials/sidebar.ejs') %>
        <!-- CONTENT -->
        <section id="content">
            <!-- NAVBAR -->
            <%- include('../partials/header.ejs', {form_action: "#" , hidden:'hidden'}) %>
                <!-- MAIN -->
                <main>
                    <ul class="nav-links container">
                        <li class="upward"><a href="#" data-form="form1">Crear Usuario</a></li>
                        <li class="center"><a href="#" data-form="form2">Registrar Docente</a></li>
                        <li class="forward"><a href="#" data-form="form3">Registrar Alumno</a></li>
                        <li class="upward"><a href="#" data-form="form4">Modificar Usuario</a></li>
                        <li class="center"><a href="#" data-form="form5">Modificar docente</a></li>
                        <li class="forward"><a href="#" data-form="form6">Modificar Alumno</a></li>
                    </ul>

                    <div class="container">
                        <!-- Formulario 1 -->
                        <form id="form1" class="form-content" style="display:none;" action="/administrador/usuario"
                            method="post">
                            <div class="form first">
                                <div class="details personal">
                                    <span class="title">Crear Usuario</span>
                                    <div class="fields">
                                        <div class="input-field">
                                            <label for="nombre_usuario">Usuario</label>
                                            <input type="text" placeholder="Ingresa nombre de Usuario"
                                                name="nombre_usuario"
                                                value="<%= locals.old1 && old1.nombre_usuario ? old1.nombre_usuario : '' %>"
                                                required>
                                        </div>
                                        <!--comentario para los errores-->
                                        <% if (locals.errors1 && locals.errors1.nombre_usuario) { %>
                                            <div style="color: red;">
                                                <%= locals.errors1.nombre_usuario.msg %>
                                            </div>
                                            <% } %>

                                                <div class="input-field">
                                                    <label for="password_usuario">Contraseña</label>
                                                    <input type="password" placeholder="Ingresa tu Contraseña"
                                                        name="password_usuario" required>
                                                </div>

                                                <div class="input-field">
                                                    <label for="password_usuario2">Confirma Contraseña</label>
                                                    <input type="password" placeholder="Repite tu Contraseña"
                                                        name="password_usuario2" required>
                                                </div>

                                                <!--comentario para los errores-->
                                                <% if (locals.errors1 && locals.errors1.password_usuario2) { %>
                                                    <div style="color: red;">
                                                        <%= locals.errors1.password_usuario2.msg %>
                                                    </div>
                                                    <% } %>

                                                        <div class="input-field">
                                                            <label for="permisos">Rol</label>
                                                            <select name="permisos" required>
                                                                <option disabled selected>Selecciona Rol de Usuario
                                                                </option>
                                                                <option>Tecnico</option>
                                                                <option>Docente</option>
                                                                <option>Director</option>
                                                                <option>Preceptor</option>
                                                            </select>
                                                        </div>

                                    </div>
                                </div>
                                <button class="nextBtn" type="submit">
                                    <span class="btnText">Enviar</span>
                                    <i class="uil uil-navigator"></i>
                                </button>
                            </div>
                        </form>

                        <!-- Formulario 2 -->
                        <form id="form2" class="form-content" style="display:none;"
                            action="/administrador/usuario/docente" method="post">
                            <div class="form first">
                                <div class="details personal">
                                    <span class="title">Registrar Docente</span>
                                    <div class="fields">
                                        <div class="input-field">
                                            <label for="apellido_profesor">Apellido/s</label>
                                            <input name="apellido_profesor" type="text"
                                                placeholder="Ingresa tu/s apellido/s"
                                                value="<%= locals.old2 && old2.apellido_profesor ? old2.apellido_profesor : '' %>"
                                                required>
                                        </div>
                                        <div class="input-field">
                                            <label for="nombre_profesor">Nombre/s</label>
                                            <input name="nombre_profesor" type="text"
                                                placeholder="Ingresa tu/s nombre/s"
                                                value="<%= locals.old2 && old2.nombre_profesor ? old2.nombre_profesor : '' %>"
                                                required>
                                        </div>
                                        <div class="input-field">
                                            <label for="fecha_nac_profesor">Fecha de Nacimiento</label>
                                            <input name="fecha_nac_profesor" type="date"
                                                placeholder="Ingresa tu fecha de nacimiento"
                                                value="<%= locals.old2 && old2.fecha_nac_profesor ? old2.fecha_nac_profesor : '' %>"
                                                required>
                                        </div>
                                        <div class="input-field">
                                            <label for="email_profesor">Email</label>
                                            <input name="email_profesor" type="text" placeholder="algo@algo.com"
                                                value="<%= locals.old2 && old2.email_profesor ? old2.email_profesor : '' %>"
                                                required>
                                        </div>

                                        <!--comentario para los errores-->
                                        <% if (locals.errors2 && locals.errors2.email_profesor) { %>
                                            <div style="color: red;">
                                                <%= locals.errors2.email_profesor.msg %>
                                            </div>
                                            <% } %>

                                                <div class="input-field">
                                                    <label for="celular_profesor">Celular</label>
                                                    <input name="celular_profesor" type="text" placeholder="3855234345"
                                                        value="<%= locals.old2 && old2.celular_profesor ? old2.celular_profesor : '' %>"
                                                        required>
                                                </div>

                                                <!--comentario para los errores-->
                                                <% if (locals.errors2 && locals.errors2.celular_profesor) { %>
                                                    <div style="color: red;">
                                                        <%= locals.errors2.celular_profesor.msg %>
                                                    </div>
                                                    <% } %>


                                                        <div class="input-field">
                                                            <label for="nombre_cargo">Cargo</label>
                                                            <select name="nombre_cargo" required>
                                                                <option disabled selected>Selecciona Cargo</option>
                                                                <option>Técnico</option>
                                                                <option>Director</option>
                                                                <option>Preceptor</option>
                                                                <option>Docente</option>
                                                            </select>
                                                        </div>
                                                        <div class="input-field">
                                                            <label for="dni_profesor">DNI</label>
                                                            <input name="dni_profesor" type="text"
                                                                placeholder="34094325"
                                                                value="<%= locals.old2 && old2.dni_profesor ? old2.dni_profesor : '' %>"
                                                                required>
                                                        </div>

                                                        <!--comentario para los errores-->
                                                        <% if (locals.errors2 && locals.errors2.dni_profesor) { %>
                                                            <div style="color: red;">
                                                                <%= locals.errors2.dni_profesor.msg %>
                                                            </div>
                                                            <% } %>

                                                                <div class="input-field">
                                                                    <label for="condicion">Situación</label>
                                                                    <select name="condicion" required>
                                                                        <option disabled selected>Selecciona Situación
                                                                        </option>
                                                                        <option>Titular</option>
                                                                        <option>Suplente</option>
                                                                        <option>Interino</option>
                                                                    </select>
                                                                </div>
                                    </div>
                                </div>
                                <button class="nextBtn" type="submit">
                                    <span class="btnText">Enviar</span>
                                    <i class="uil uil-navigator"></i>
                                </button>
                            </div>
                        </form>

                        <!-- Formulario 3 -->
                        <form id="form3" class="form-content" style="display:none;"
                            action="/administrador/usuario/alumno" method="post">
                            <div class="form first">
                                <div class="details personal">
                                    <span class="title">Registrar Alumno</span>
                                    <div class="fields">
                                        <div class="input-field">
                                            <label for="apellido_profesor">Apellido/s</label>
                                            <input name="apellido_profesor" type="text"
                                                placeholder="Ingresa tu/s apellido/s"
                                                value="<%= locals.old3 && old3.apellido_alumno ? old3.apellido_alumno : '' %>"
                                                required>
                                        </div>
                                        <div class="input-field">
                                            <label for="nombre_alumno">Nombre/s</label>
                                            <input name="nombre_alumno" type="text"
                                                placeholder="Ingresa tu/s nombre/s"
                                                value="<%= locals.old3 && old3.nombre_alumno ? old3.nombre_alumno : '' %>"
                                                required>
                                        </div>
                                        <div class="input-field">
                                            <label for="fecha_nac_alumno">Fecha de Nacimiento</label>
                                            <input name="fecha_nac_alumno" type="date"
                                                placeholder="Ingresa tu fecha de nacimiento"
                                                value="<%= locals.old3 && old3.fecha_nac_alumno ? old3.fecha_nac_alumno : '' %>"
                                                required>
                                        </div>
                                        <div class="input-field">
                                            <label for="email_alumno">Email</label>
                                            <input name="email_alumno" type="text" placeholder="algo@algo.com"
                                                value="<%= locals.old3 && old3.email_alumno ? old3.email_alumno : '' %>"
                                                required>
                                        </div>

                                        <!--comentario para los errores-->
                                        <% if (locals.errors3 && locals.errors3.email_alumno) { %>
                                            <div style="color: red;">
                                                <%= locals.errors3.email_alumno.msg %>
                                            </div>
                                            <% } %>

                                                <div class="input-field">
                                                    <label for="celular_alumno">Celular</label>
                                                    <input name="celular_alumno" type="text" placeholder="3855234345"
                                                        value="<%= locals.old3 && old3.celular_alumno ? old3.celular_alumno : '' %>"
                                                        >
                                                </div>

                                                <!--comentario para los errores-->
                                                <% if (locals.errors3 && locals.errors3.celular_alumno) { %>
                                                    <div style="color: red;">
                                                        <%= locals.errors3.celular_alumno.msg %>
                                                    </div>
                                                    <% } %>


                                                        <div class="input-field">
                                                            <label for="tipo">Género</label>
                                                            <select name="tipo" required>
                                                                <option disabled selected>Selecciona Género</option>
                                                                <option>Masculino</option>
                                                                <option>Femenino</option>
                                                                <option>Otro</option>
                                                            </select>
                                                        </div>
                                                        <div class="input-field">
                                                            <label for="dni_alumno">DNI Alumno</label>
                                                            <input name="dni_alumno" type="text"
                                                                placeholder="34094325"
                                                                value="<%= locals.old3 && old3.dni_alumno ? old3.dni_alumno : '' %>"
                                                                required>
                                                        </div>

                                                        <!--comentario para los errores-->
                                                        <% if (locals.errors3 && locals.errors3.dni_alumno) { %>
                                                            <div style="color: red;">
                                                                <%= locals.errors3.dni_alumno.msg %>
                                                            </div>
                                                            <% } %>
                                                            <div class="input-field">
                                                                <label for="dni_tutor">DNI Tutor</label>
                                                                <input name="dni_tutor" type="text"
                                                                    placeholder="34094325"
                                                                    value="<%= locals.old3 && old3.dni_tutor ? old3.dni_tutor : '' %>"
                                                                    required>
                                                            </div>
                                    </div>
                                </div>
                                <button class="nextBtn" type="submit">
                                    <span class="btnText">Enviar</span>
                                    <i class="uil uil-navigator"></i>
                                </button>
                            </div>
                        </form>

                        <!-- Formulario 4 -->
                        <form id="form4" class="form-content" style="display:none;" action="#">
                            <div class="form first">
                                <div class="details personal">
                                    <span class="title">Datos para Modificar Docente</span>
                                    <div class="fields">
                                        <div class="input-field">
                                            <label>Apellido/s</label>
                                            <input type="text" placeholder="Ingresa tu/s apellido/s" required>
                                        </div>
                                        <div class="input-field">
                                            <label>Nombre/s</label>
                                            <input type="text" placeholder="Ingresa tu/s nombre/s" required>
                                        </div>
                                        <div class="input-field">
                                            <label>Fecha de Nacimiento</label>
                                            <input type="date" placeholder="Ingresa tu fecha de nacimiento" required>
                                        </div>
                                        <div class="input-field">
                                            <label>Email</label>
                                            <input type="text" placeholder="algo@algo.com" required>
                                        </div>
                                        <div class="input-field">
                                            <label>Celular</label>
                                            <input type="text" placeholder="3855234345" required>
                                        </div>
                                        <div class="input-field">
                                            <label>Género</label>
                                            <select required>
                                                <option disabled selected>Selecciona Género</option>
                                                <option>Hombre</option>
                                                <option>Mujer</option>
                                                <option>Otro</option>
                                            </select>
                                        </div>
                                        <div class="input-field">
                                            <label>Cargo</label>
                                            <select required>
                                                <option disabled selected>Selecciona Cargo</option>
                                                <option>Director</option>
                                                <option>Preceptor</option>
                                                <option>Docente</option>
                                                <option>Técnico</option>
                                            </select>
                                        </div>
                                        <div class="input-field">
                                            <label>DNI</label>
                                            <input type="text" placeholder="34094325" required>
                                        </div>
                                        <div class="input-field">
                                            <label>Situación</label>
                                            <select required>
                                                <option disabled selected>Selecciona Situación</option>
                                                <option>Suplente</option>
                                                <option>Titular</option>
                                                <option>Interino</option>
                                                <option>Provisional</option>
                                                <option>Adjunto</option>
                                                <option>Jornada Parcial</option>
                                                <option>Jornada Completa</option>
                                                <option>Sustituto</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <button class="nextBtn" type="submit">
                                    <span class="btnText">Enviar</span>
                                    <i class="uil uil-navigator"></i>
                                </button>
                            </div>
                        </form>

                        <!-- Formulario 5 -->
                        <form id="form5" class="form-content" style="display:none;" action="#">
                            <div class="form first">
                                <div class="details personal">
                                    <span class="title">Datos para Modificar Usuario</span>
                                    <div class="fields">
                                        <div class="input-field">
                                            <label>Apellido/s</label>
                                            <input type="text" placeholder="Ingresa tu/s apellido/s" required>
                                        </div>
                                        <div class="input-field">
                                            <label>Nombre/s</label>
                                            <input type="text" placeholder="Ingresa tu/s nombre/s" required>
                                        </div>
                                        <div class="input-field">
                                            <label>Fecha de Nacimiento</label>
                                            <input type="date" placeholder="Ingresa tu fecha de nacimiento" required>
                                        </div>
                                        <div class="input-field">
                                            <label>Email</label>
                                            <input type="text" placeholder="algo@algo.com" required>
                                        </div>
                                        <div class="input-field">
                                            <label>Celular</label>
                                            <input type="text" placeholder="3855234345" required>
                                        </div>
                                        <div class="input-field">
                                            <label>Género</label>
                                            <select required>
                                                <option disabled selected>Selecciona Género</option>
                                                <option>Hombre</option>
                                                <option>Mujer</option>
                                                <option>Otro</option>
                                            </select>
                                        </div>
                                        <div class="input-field">
                                            <label>Cargo</label>
                                            <select required>
                                                <option disabled selected>Selecciona Cargo</option>
                                                <option>Director</option>
                                                <option>Preceptor</option>
                                                <option>Docente</option>
                                                <option>Técnico</option>
                                            </select>
                                        </div>
                                        <div class="input-field">
                                            <label>DNI</label>
                                            <input type="text" placeholder="34094325" required>
                                        </div>
                                        <div class="input-field">
                                            <label>Situación</label>
                                            <select required>
                                                <option disabled selected>Selecciona Situación</option>
                                                <option>Suplente</option>
                                                <option>Titular</option>
                                                <option>Interino</option>
                                                <option>Provisional</option>
                                                <option>Adjunto</option>
                                                <option>Jornada Parcial</option>
                                                <option>Jornada Completa</option>
                                                <option>Sustituto</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <button class="nextBtn" type="submit">
                                    <span class="btnText">Enviar</span>
                                    <i class="uil uil-navigator"></i>
                                </button>
                            </div>
                        </form>

                        <!-- Formulario 6 -->
                        <form id="form6" class="form-content" style="display:none;" action="#">
                            <div class="form first">
                                <div class="details personal">
                                    <span class="title">Datos para Modificar Usuario</span>
                                    <div class="fields">
                                        <div class="input-field">
                                            <label>Apellido/s</label>
                                            <input type="text" placeholder="Ingresa tu/s apellido/s" required>
                                        </div>
                                        <div class="input-field">
                                            <label>Nombre/s</label>
                                            <input type="text" placeholder="Ingresa tu/s nombre/s" required>
                                        </div>
                                        <div class="input-field">
                                            <label>Fecha de Nacimiento</label>
                                            <input type="date" placeholder="Ingresa tu fecha de nacimiento" required>
                                        </div>
                                        <div class="input-field">
                                            <label>Email</label>
                                            <input type="text" placeholder="algo@algo.com" required>
                                        </div>
                                        <div class="input-field">
                                            <label>Celular</label>
                                            <input type="text" placeholder="3855234345" required>
                                        </div>
                                        <div class="input-field">
                                            <label>Género</label>
                                            <select required>
                                                <option disabled selected>Selecciona Género</option>
                                                <option>Hombre</option>
                                                <option>Mujer</option>
                                                <option>Otro</option>
                                            </select>
                                        </div>
                                        <div class="input-field">
                                            <label>Cargo</label>
                                            <select required>
                                                <option disabled selected>Selecciona Cargo</option>
                                                <option>Director</option>
                                                <option>Preceptor</option>
                                                <option>Docente</option>
                                                <option>Técnico</option>
                                            </select>
                                        </div>
                                        <div class="input-field">
                                            <label>DNI</label>
                                            <input type="text" placeholder="34094325" required>
                                        </div>
                                        <div class="input-field">
                                            <label>Situación</label>
                                            <select required>
                                                <option disabled selected>Selecciona Situación</option>
                                                <option>Suplente</option>
                                                <option>Titular</option>
                                                <option>Interino</option>
                                                <option>Provisional</option>
                                                <option>Adjunto</option>
                                                <option>Jornada Parcial</option>
                                                <option>Jornada Completa</option>
                                                <option>Sustituto</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <button class="nextBtn" type="submit">
                                    <span class="btnText">Enviar</span>
                                    <i class="uil uil-navigator"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </main>
        </section>
        <!-- Script de carga inicial -->
        <script src="/js/administrador_general/all_menues.js"></script>
        <!-- Script para mejorar la respuesta con "hide" -->
        <script src="/js/main_menues/usuario.js"></script>
</body>

</html>